.con-1 {
    position: relative;
    height: 500px;
    width: 900px;
    background-size: cover;
}

.canvas {
    position: absolute;
}


/* .img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
} */